.home_title_container {
  background-color: #f6b83d;
  padding: 30px 20px 50px 20px;
  border-radius: 30px;
}

.home_title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.span_title {
  color: rgba(255, 255, 255, 0.4);
}

.home_overview {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}
